<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/sign-in" method="post">
        <div class="form-group">
            <label>이메일</label>
            <input type="text" name="email" placeholder="이메일을 입력하세요"> <br>
            <label>비밀번호</label>
            <input type="text" name="password" placeholder="비밀번호를 입력하세요"> <br>
            <label>학번</label>
            <input type="text" name="studentNumber" placeholder="학번을 입력하세요"> <br>
            <label>이름</label>
            <input type="text" name="name" placeholder="이름을 입력하세요"> <br>
            <label>전화번호</label>
            <input type="text" name="phoneNumber" placeholder="전화번호를 입력하세요"> <br>
            <label>전공</label>
            <input type="text" name="major" placeholder="전공을 입력하세요"> <br>
            <label>깃허브주소</label>
            <input type="text" name="githubUrl" placeholder="깃허브주소를 입력하세요"> <br>
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>